/**
*Created by Vikas Sarkar
*Date : 2017-07-07
*/

//allthe branding images needs tobe added in _main.scss of bell or vergin and that class needs to be extended here in other css
//we are not using individual css for component pattern, beacause of theme, a theme is set individually for project by loadtheme.scss;
//no need to import below webpack.theme.config.scss file , and no need to look into errors on common scss var/extendables/mixins etc they will be compiled on project level
//if style id required for individual then we would need to change webpack settings to ignore scss, then importing features as per requirement.
//@import "../../../../../build-process/configs/webpack.theme.config.scss";

.test_block {
    margin: 2rem 0;

    a {
        border: 0.1rem solid $baseColor;
        padding: 2rem 4rem;
        text-decoration: none;
        cursor:pointer;
    }
}
