#
# Created by: Vikas sarkar
# date : 2017-07-06
#

.awcache
.vscode
.vs
.suo
.git
LICENCE
MUE/LICENCE
*.log*
*.map.js*
.DS_STORE


node_modules
MUE/node_modules

src/build/
web/src/build/

src-output/tests-coverage/
web/src-output/tests-coverage/

src-output/app-build/
web/src-output/app-build/

src/modules/**/**/**/build/
web/src/modules/**/**/**/build/

src/modules/**/**/**/*.js
web/src/modules/**/**/**/*.js

src/modules/**/**/**/*.map.js
web/src/modules/**/**/**/*.map.js

src/assets/loadtheme.scss
web/src/assets/loadtheme.scss

build-process/configs/webpack.theme.config.scss
web/build-process/configs/webpack.theme.config.scss

build-process/configs/webpack.theme.config.json
web/build-process/configs/webpack.theme.config.json

obj/
web/obj/

bin/
web/bin/

References/
web/References/

properties/
web/properties/

Scripts/
web/Scripts/

packages/
web/packages/

/web/app-output/

.vs/usage/v14/.suo
/.vs/usage/v14/.suo