#
# Created by: Vikas sarkar
# date : 2017-07-06
#

.awcache
.vscode
.vs
.suo
.git
LICENCE
MUE/LICENCE
*.log*
*.map.js*
.DS_STORE


node_modules
MUE/node_modules

build-process/configs/webpack.theme.config.scss
web/build-process/configs/webpack.theme.config.scss

build-process/configs/webpack.theme.config.json
web/build-process/configs/webpack.theme.config.json

src-output/tests-coverage/
web/src-output/tests-coverage/

src-output/app-build/
web/src-output/app-build/

src/ui-toolkit/**/**/**/build/
web/src/ui-toolkit/**/**/**/build/

src/ui-toolkit/**/**/**/*.js
web/src/ui-toolkit/**/**/**/*.js

src/ui-toolkit/**/**/**/*.map.js
web/src/ui-toolkit/**/**/**/*.map.js


src/ui-modules/**/**/**/build/
web/src/ui-modules/**/**/**/build/

src/ui-modules/**/**/**/*.js
web/src/ui-modules/**/**/**/*.js

src/ui-modules/**/**/**/*.map.js
web/src/ui-modules/**/**/**/*.map.js

obj/
web/obj/

bin/
web/bin/

References/
web/References/

properties/
web/properties/

Scripts/
web/Scripts/

packages/
web/packages/

/web/app-output/

.vs/usage/v14/.suo
/.vs/usage/v14/.suo