/**
*Created by Vikas Sarkar
*Date : 2017-07-07
*/

//allthe branding images needs tobe added in _main.scss of bell or vergin and that class needs to be extended here in other css
//we are not using individual css for component pattern, beacause of theme, a theme is set individually for project by loadtheme.scss;
//no need to import below loadtheme.scss file , and no need to look into errors on common scss var/extendables/mixins etc they will be compiled on project level
//if style id required for individual then we would need to change webpack settings to ignore scss, then importing features as per requirement.
//@import "../../../../../build-process/configs/webpack.theme.config.scss";

.btn-switch {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-switch__radio {
    display: none;
}

.btn-switch__label {
    display: inline-block;
    margin: 0;
    padding: 1.15rem .5rem 1rem .75rem;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.5;
    color: $whiteColor;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.btn-switch__label + .btn-switch__label {
    padding-right: .75rem;
    padding-left: 0;
}

.btn-switch__txt {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 2rem;
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

.btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
    opacity: 0;
}

.btn-switch__label:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $basedarkColor;
    border-radius: 1.5rem;
    box-shadow: inset 0 .0715rem .3572rem rgba(43,43,43,.05);
    transition: background .2s ease-in-out;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label:before {
    background: $baseColor;
}

.btn-switch__label_no:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: .35rem;
    bottom: .35rem;
    left: .5rem;
    width: 2.1rem;
    background: $whiteColor;
    border-radius: 1rem;
    pointer-events: none;
    box-shadow: 0 .1429rem .2143rem rgba(43,43,43,.2), 0 .3572rem .3572rem rgba(43,43,43,.1);
    transition: left .2s ease-in-out, background .2s ease-in-out;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
    left: calc(100% - 2.5rem);
    background: $whiteColor;
}

.btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
    z-index: 1;
}

.btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
    color: $whiteColor;
}
