<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jest.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net452" />
  <package id="React.TypeScript.DefinitelyTyped" version="0.1.12" targetFramework="net452" />
  <package id="react-dom.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net452" />
  <package id="react-redux.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="net452" />
  <package id="react-router.TypeScript.DefinitelyTyped" version="1.0.9" targetFramework="net452" />
  <package id="react-router-redux.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net452" />
  <package id="redux.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net452" />
</packages>